.crypto {
    margin-bottom: 30px;

}

.crypto,
.crypto__cryptocurrencies,
.crypto__marketcap {
    display: flex;
    // display: none;
    flex-wrap: wrap;
    font-size: 1.2rem;




    &__cryptocurrencies {
        flex-grow: 1;
        justify-content: space-between;


    }

    &__marketcap {
        display: none;
        flex-grow: 3;
        justify-content: flex-start;
        flex-basis: 33%;



        @media screen and (min-width: 420px) {
            display: flex;
            justify-content: space-between;
        }
    }


    &__cryptocurrencies,
    &__marketcap {


        p span {
            display: inline-block;
            margin: 0 10px;
            padding: 2px 10px;
            border-radius: 10px;
            background-color: rgba($color: white, $alpha: 0.2);
        }
    }

    div {
        margin: 0 10px;
        padding: 5px 0;
    }
}